<!DOCTYPE html>
<html data-bs-theme="light" lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description"
        content="ControleFarma Mogi é um sistema de gerenciamento de fichas de retirada de medicamentos desenvolvido para a Assistência Farmacêutica de Mogi Mirim. O sistema permite o controle eficiente e preciso das retiradas de medicamentos, facilitando o acompanhamento e a gestão de estoque.">
    <link rel="icon" type="image/svg+xml" sizes="756x567" href="/assets/img/brasaommBorda.svg">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Noto+Sans+Meetei+Mayek:400,500,600&amp;display=swap">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    {{header}}
    <section id="CADASTRO" class="SectionBody">
        <div class="container container py-md-5">
            <div class="row">
                <div class="col-md-6 col-lg-8 offset-md-3 offset-lg-2">
                    <h1 class="display-6 fw-bold mb-5"><span class="underline pb-1"><strong><strong>Cadastro de </strong><br><strong>Pacientes</strong></strong></span></h1>
                    <form id="cadastroPacienteForm">
                        <div class="mb-3"><span>Nome Completo</span><input class="form-control form-control" type="text" name="nome_completo" placeholder="Nome Completo" required=""></div>
                        <div class="mb-3" name="numero_sim" placeholder="Número SIS" required=""><span>Número SIS</span><input class="form-control form-control" type="text" name="numero_sim" placeholder="Número SIS" required=""></div>
                        <div class="mb-3"><span>Data de Nascimento</span><input class="form-control" type="date" required="" name="data_nascimento"></div>
                        <div class="mb-3"><span>Telefone</span><input class="form-control form-control" type="text" name="telefones" placeholder="Telefone" required="" maxlength="15" minlength="14"></div>
                        <div class="mb-3"><span>Nome do&nbsp;Médico Solicitante</span><input class="form-control form-control" type="text" name="medico_solicitante" placeholder="Médico Solicitante" required=""></div>
                        <div class="d-flex justify-content-end mb-5"><button class="btn btn-primary shadow" type="submit">Cadastrar</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {{footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/cadastroPaciente.min.js"></script>
</body>

</html>