<!DOCTYPE html>
<html data-bs-theme="light" lang="en" style="font-family: 'Noto Sans Meetei Mayek', sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description" content="ControleFarma Mogi é um sistema de gerenciamento de fichas de retirada de medicamentos desenvolvido para a Assistência Farmacêutica de Mogi Mirim. O sistema permite o controle eficiente e preciso das retiradas de medicamentos, facilitando o acompanhamento e a gestão de estoque.">
    <link rel="icon" type="image/svg+xml" sizes="756x567" href="/assets/img/brasaommBorda.svg">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Meetei+Mayek:400,500,600&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css">
</head>

<body>
    {{header}}
    <section id="paceite" class="SectionBody">
        <section>
            <header class="pt-5">
                <div class="container pt-4 pt-xl-5">
                    <h4 class="text-uppercase fw-bold text-center">Ficha do paciente&nbsp;</h4>
                </div>
            </header>
            <div class="container">
                <form id="cadastroPacienteForm">
                    <div class="row">
                        <div class="col-8"><span>Nome Completo</span><input class="form-control form-control" type="text" name="nome_completo" placeholder="Nome Completo" value="{{nome_completo}}" disabled=""></div>
                        <div class="col"><span>Número SIS</span><input class="form-control form-control" type="text" name="numero_sim" placeholder="Número SIS" value="{{numero_sim}}" disabled=""></div>
                    </div>
                    <div class="row gx-3 gx-md-1">
                        <div class="col"><span>Data de Nascimento</span><input class="form-control" type="date" name="data_nascimento" value="{{data_nascimento}}" disabled=""></div>
                        <div class="col"><span>Telefone</span><input class="form-control form-control" type="text" name="telefone" placeholder="Telefone" maxlength="15" minlength="14" value="{{telefone}}" disabled=""></div>
                    </div>
                    <div class="row">
                        <div class="col"><span>Nome do&nbsp;Médico Solicitante</span><input class="form-control form-control" type="text" name="medico_solicitante" placeholder="Médico Solicitante" value="{{medico_solicitante}}" disabled=""></div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-end"><a class="btn btn-primary shadow" role="button" href="/paciente/editar?id={{id}}">Editar</a></div>
                    </div>
                </form>
            </div>
        </section>
        <hr>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="text-center">Observações</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div id="observacoes"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-end mt-5"><button class="btn btn-primary mt-5" type="button">Salvar</button></div>
                </div>
            </div>
        </section>
        <hr>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h4 class="text-center">Retiradas</h4>
                    </div>
                </div>
                <div class="row d-flex justify-content-end">
                    <div class="col d-flex align-items-center"><a class="btn btn-primary" role="button" href="/paciente/retirada/registrar?id={{id}}">Registrar</a></div>
                    <div class="col-5 col-sm-3 col-lg-2">
                        <div class="input-group"><select class="form-select form-select-sm" id="records-per-page-1" name="RegistroporPagina ">
                                <optgroup label="Registro por Pagina ">
                                    <option value="10" selected="">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="75">75</option>
                                    <option value="100">100</option>
                                </optgroup>
                            </select></div>
                    </div>
                    <div class="col-7 col-sm-4 col-lg-3">
                        <div class="input-group"><span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z" fill="currentColor"></path>
                                </svg></span><input class="form-control form-control-sm search" type="text" id="search" placeholder="Pesquisar..."></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered results">
                                <thead>
                                    <tr>
                                        <th data-sort="data_retirada">Data<span class="sort-indicator"></span></th>
                                        <th data-sort="medicamento">Nome do Medicamento<span class="sort-indicator"></span></th>
                                        <th data-sort="responsavel_retirada">Responsável Retirada<span class="sort-indicator"></span></th>
                                        <th class="text-center" style="width: 71.922px;">Ação</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">
                                    <tr>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="d-flex justify-content-center justify-content-lg-center">
                            <nav class="d-xl-flex justify-content-xl-center" id="pagination-1">
                                <ul class="pagination">
                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" role="dialog" tabindex="-1" id="ModalRegistro">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="Model-header"></h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body" id="modal-body">
                            <p>The content of your modal.</p>
                        </div>
                        <div class="modal-footer"></div>
                    </div>
                </div>
            </div>
        </section>
    </section>
   {{footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script src="/assets/js/ge_retirada.min.js"></script>
</body>

</html>