<footer class="text-white bg-primary">
    <div class="container py-4 py-lg-5">
        <div class="row row-cols-2 row-cols-md-4">
            <div class="col-md-12">
                <p class="text-light">Logado com {{NOME}}</p>
            </div>
        </div>
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="text-white mb-0">Prefeitura de Mogi Mirim</p>
            <p class="text-white mb-0">Por Mauricio Sarpa</p>
        </div>
    </div>
</footer>