<header id="nav" class="pt-5">
    <nav class="navbar navbar-expand-md fixed-top bg-secondary bg-opacity-75 navbar-shrink py-3 navbar-light" id="mainNav" data-bs-theme="light">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/">
                <div id="navbarImage"><img src="/assets/img/brasaommBorda.svg" width="84" height="52" loading="auto" style="width: 100%;height: 100%;"></div><span class="fw-light text-start">ControleFarma Mogi</span>
            </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Pacientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/cadastro">Cadastro</a></li>
                    <li class="nav-item"><a class="nav-link" href="../404.html">Painel</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Menu</a>
                        <div class="dropdown-menu"><span class="dropdown-item-text">{{NOME}}</span>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div><a class="dropdown-item text-center text-bg-secondary border rounded-pill border-0" href="/logoff">sair</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>