<!DOCTYPE html>
<html data-bs-theme="light" lang="pt_br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="description"
        content="ControleFarma Mogi é um sistema de gerenciamento de fichas de retirada de medicamentos desenvolvido para a Assistência Farmacêutica de Mogi Mirim. O sistema permite o controle eficiente e preciso das retiradas de medicamentos, facilitando o acompanhamento e a gestão de estoque.">
    <link rel="icon" type="image/svg+xml" sizes="756x567" href="/assets/img/brasaommBorda.svg">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Noto+Sans+Meetei+Mayek:400,500,600&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
</head>


<body class="" style="font-family: 'Noto Sans Meetei Mayek', sans-serif;">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/script.min.js"></script>

    
    <div class="" style="margin: 0 10%;">
        <!-- inicio header -->
        {{header}}
        <!-- fim header -->

        <!-- inicio content -->
        {{content}}
        <!-- fim content -->

        <!-- inicio content -->
        {{footer}}
        <!-- fim footer -->
    </div>
 
</body>

</html>