<section>
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <h4 class="text-uppercase fw-bold text-center">Ficha do paciente</h4>
        </div>
    </header>
    <div class="container">
        <form>
            <div class="row">
                <div class="col">
                    <div class="input-group"><span class="input-group-text">Nome</span><input {{status}}
                            value="{{nome_completo}}" class="form-control" type="text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">N° SIM</span><input {{status}}
                            value="{{numero_sim}}" class="form-control" type="text"></div>
                </div>
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">Telefone</span><input {{status}}
                            value="{{telefones}}" class="form-control" type="text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">CPF</span><input {{status}} value="{{cpf}}"
                            class="form-control" type="text"></div>
                </div>
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">Data de Nascimento</span><input {{status}}
                            value="{{data_nascimento}}" class="form-control" type="date"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group"><span class="input-group-text">Médico solicitante</span><input {{status}}
                            value="{{medico_solicitante}}" class="form-control" type="text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 offset-xl-0">
                    <div class="d-flex justify-content-end justify-content-xl-end">
                        <a class="btn btn-primary" role="button" href="{{URL}}/paciente/edit/{{id}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round" class="icon icon-tabler icon-tabler-user-cog"
                                style="font-size: 23px;">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                                <path d="M6 21v-2a4 4 0 0 1 4 -4h2.5"></path>
                                <path d="M19.001 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M19.001 15.5v1.5"></path>
                                <path d="M19.001 21v1.5"></path>
                                <path d="M22.032 17.25l-1.299 .75"></path>
                                <path d="M17.27 20l-1.3 .75"></path>
                                <path d="M15.97 17.25l1.3 .75"></path>
                                <path d="M20.733 20l1.3 .75"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>