<section>
    <header class="pt-5">
        <div class="container pt-4 pt-xl-5">
            <h4 class="text-uppercase fw-bold text-center">Ficha do paciente</h4>
        </div>
    </header>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col">
                    <div class="input-group"><span class="input-group-text">Nome</span><input {{status}}
                            value="{{nome_completo}}" name="nome_completo" class="form-control" type="text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">N° SIM</span><input {{status}}
                            value="{{numero_sim}}" name="numero_sim" class="form-control" type="text"></div>
                </div>
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">Telefone</span><input {{status}}
                            id="telefones" value="{{telefones}}" name="telefones" class="form-control" type="tel"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">CPF</span><input {{status}} value="{{cpf}}"
                            name="cpf" class="form-control" type="text"></div>
                </div>
                <div class="col-md-6">
                    <div class="input-group"><span class="input-group-text">Data de Nascimento</span><input {{status}}
                            value="{{data_nascimento}}" name="data_nascimento" class="form-control" type="date"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group"><span class="input-group-text">Médico solicitante</span><input {{status}}
                            value="{{medico_solicitante}}" name="medico_solicitante" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 offset-xl-0">
                    <div class="d-flex justify-content-end justify-content-xl-end">

                        <button class="btn btn-primary" type="submit"> Salvar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>

    $(document).ready(function () {
        $('#telefones').mask('(00) 00000-0000'); // Máscara inicial para celular

        $('#telefones').on('input', function () {
            var valor = $(this).val().replace(/\D/g, ''); // Remove caracteres não numéricos
            if (valor.length > 10) {
                $(this).mask('(00) 00000-0000'); // Máscara para celular
            } else {
                $(this).mask('(00) 0000-00009'); // Máscara para fixo (opcional)
            }
        });
    });

</script>